
<ion-content>
  <body style = "background-image: linear-gradient(-135deg, rgb(101, 76, 0),rgb(0, 0, 0));
  ">

    <div class="login-header">
      <ion-img  src="assets/img/logo.png"></ion-img>
    </div>
    <!--<div class="img-label">
      <ion-img src="assets/img/blue.png"></ion-img>
    </div>-->
  
    <form>
      <div class="form-wrapper">
        <ion-item color="transparent" lines="none">
          <ion-label position="floating"><p style="color: gold;">Username </p></ion-label>
            <!--<ion-icon name="mail"></ion-icon>-->
            <ion-input type="text">  </ion-input>
        
        </ion-item>
          <br>
        <ion-item color="transparent" lines="none">
          <ion-label position="floating"><p style="color: gold;">Password </p></ion-label>
          <!--<ion-icon name="key-outline"></ion-icon>-->
          <ion-input type="Password">  </ion-input>
        </ion-item>
          
        <ion-button id="login" fill="clear" (click)="dashboard()">Login</ion-button>
      </div>
    </form>
  </body>
</ion-content>
