
<ion-content>
  <div class="login-header">
    <ion-img  src="assets/img/helmet.png"></ion-img>
  </div>
  <div class="img-label">
    <ion-img   src="assets/img/blue.png"></ion-img>
  </div>

  <center>
  <form>
    <div class="uname">
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="text" placeholder="  UserID" type="text">  </ion-input>
      </ion-item>
    </div>
   <div class="pass">
    <ion-item>
      <ion-icon name="key-outline"></ion-icon>
      <ion-input placeholder="  Password" type="Password">  </ion-input>
    </ion-item>
   </div>
    <ion-button id="login" fill="clear" href="dashboard">LogIn</ion-button>
  </form>
  </center>
  
  

</ion-content>
