
<ion-content>
  <body style = "background-image: linear-gradient(-135deg, rgb(101, 76, 0),rgb(0, 0, 0));
  ">

    <div class="login-header">
      <ion-img  src="assets/img/logo.png"></ion-img>
    </div>
    <!--<div class="img-label">
      <ion-img src="assets/img/blue.png"></ion-img>
    </div>-->
  
    <form [formGroup]="loginForm" (ngSubmit)="dashboard()">
      <div class="form-wrapper">
        <ion-item color="transparent" lines="none">
          <ion-label position="floating"><p style="color: gold;">Username </p></ion-label>
            <!--<ion-icon name="mail"></ion-icon>-->
            <ion-input type="text" formControlName="uname">  </ion-input>
        
        </ion-item>
        <span>
          <ng-container *ngIf="loginForm.get('uname').hasError('required')&& (loginForm.get('uname').touched || loginForm.get('uname').dirty)">
            <h6>Username is required.</h6>
          </ng-container>
        </span>
          <br>
        <ion-item color="transparent" lines="none">
          <ion-label position="floating"><p style="color: gold;">Password </p></ion-label>
          <!--<ion-icon name="key-outline"></ion-icon>-->
          <ion-input type="Password" formControlName="pass">  </ion-input>
        </ion-item>
        <span>
          <ng-container *ngIf="loginForm.get('pass').hasError('required')&& (loginForm.get('pass').touched || loginForm.get('pass').dirty)">
            <h6>Password is required.</h6>
          </ng-container>
        </span>
          
        <ion-button type="submit" [disabled]="!loginForm.valid" id="login" fill="clear">Login</ion-button>
      </div>
    </form>
  </body>
</ion-content>
