.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%
}
img{
    height: 100px;
}
.loader{
    display: flex;
    justify-content: center;
    padding-top: 50%;
    margin: auto;
    margin-top: 30%;
}