.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%
}
img{
    height: 150px;
}
.loader{
    display: flex;
    justify-content: center;
    margin:0 auto;
    margin-top: 50%;
}
ion-content{
    --background: linear-gradient(-135deg, rgba(222, 148, 0, 0.704), rgb(0, 0, 0));
    --opacity:1;
}