ion-toolbar{
  height: 180px;
  width: 350px;
  --ion-toolbar-background:linear-gradient(35deg, rgb(0, 0, 0),rgba(254, 148, 0, 0.782));
  background-image: url("../assets/img/logo1.png");
  background-repeat: no-repeat;
  background-size: cover;;
}
.title{
  margin-top: 24%;
  display: flex;
  text-align: center;
  margin-left: 30%;
  font-size: 30px;
  color: white;
  font-style: italic;
  font-weight: bolder;
}
.version{
  display: flex;
  text-align: center;
  margin-left: 35%;
  font-size: 15px;
  color: white;
  font-style: italic;
}
ion-img{
  width: 30px;
  height: 30px;
}

ion-item{
  border: 0;
}