<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title>VIEW ITEMS</ion-title>
    <ion-icon class="profile" name="person-circle-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <div>
    <center><p class="title">C A T E G O R Y</p></center>
  </div>
  <div>
    
    <ion-card>  
      <ion-grid>
        <center>
        <ion-row>
          <ion-col col-12 col-sm>
            <ion-buttons><img src="assets/img/floor.png" alt=""></ion-buttons>
            <p>Wood Products</p>
          </ion-col>
          <ion-col>
            <ion-buttons><img src="assets/img/concrete.png" alt=""></ion-buttons>
            <p>Concreting and Masonry</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons><img src="assets/img/bar.png" alt=""></ion-buttons>
            <p>Rebars and GI Supplies</p>
          </ion-col>
          <ion-col>
            <ion-buttons><img src="assets/img/roof.png" alt=""></ion-buttons>
            <p>Roofing and Insulation</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons><img src="assets/img/paint.png" alt=""></ion-buttons>
            <p>Painting Supplies</p>
          </ion-col>
          <ion-col>
            <ion-buttons><img src="assets/img/pipe.png" alt=""></ion-buttons>
            <p>Plumbing Pipes & Accessories</p>
          </ion-col>
        </ion-row>
        </center>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>
