/**ion-content{
    --background:linear-gradient(35deg, rgb(0, 0, 0),rgba(254, 148, 0, 0.782));
}*/
ion-button{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 60%;
    margin: auto;
    margin-top: 10px;

}

ion-toolbar{
    --background:#000000;
    color: white;
    border: 0px;
}
.back-btn{
    width: 30px;
    height: 30px;
}
.profile{
    width: 45px;
}
.add-container{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 5%;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-card{
    background-color: white;
    width: 80%;
    margin-top:20%;
    margin-left: 10%;
    border-radius: 20px;
}
ion-card-content, ion-item, ion-label, ion-input{
    --background: white;
}
.input{
    border: 1px white solid;
    width: 100%;
}
ion-input{
    --padding-bottom:0%;
    --padding-left: 10px;
    font-family: Century Gothic;

}
ion-label{
    padding-left:2px;   
    
}
b{
    color: #896e00;
    font-size: 12px;
}
.my-label {
    font-size: 20px;
    font-family: Century Gothic;
  }
  ion-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    justify-content: left;
}
h6{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 10px;
}