ion-content{
    --background:#ffffff;
}
ion-button{
    display: block;
    font-family: Century Gothic;
    font-size: 15px;
    width: 30%;
    margin: auto;
    border: 3px;
}

ion-toolbar{
    --background:#000000;
    color: white;
    border: 0px;
}
.back-btn{
    width: 30px;
    height: 30px;
}
.profile{
    width: 45px;
}
.add-container{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 5%;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
