
<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title>Add New Item</ion-title>
    <ion-icon class="profile" name="person-circle-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form action="" [formGroup]="addItem">
    <div class="add-container">
      <ion-item lines="full">
        <ion-label position="floating"><b>Item Name</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Name" lines="none" type="text" formControlName="item"></ion-input>
        </div>  
      </ion-item>
      <span>
        <ng-container *ngIf="addItem.get('item').hasError('required')&& (addItem.get('item').touched || addItem.get('item').dirty)">
          <h6>Field Cannot Be Empty.</h6>
        </ng-container>
      </span>
      <ion-item lines="full">
        <ion-label position="floating" ><b>Item Number</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Number" type="number" formControlName="num"></ion-input>
        </div>
      </ion-item>
      <span>
        <ng-container *ngIf="addItem.get('num').hasError('required')&& (addItem.get('num').touched || addItem.get('num').dirty)">
          <h6>Field Cannot Be Empty.</h6>
        </ng-container>
      </span>
      <ion-item lines="full">
        <ion-label position="floating"><b>Item Quantity</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Quantity" type="number" formControlName="qty"></ion-input>
        </div>
      </ion-item>
      <span>
        <ng-container *ngIf="addItem.get('qty').hasError('required')&& (addItem.get('qty').touched || addItem.get('qty').dirty)">
          <h6>Field Cannot Be Empty.</h6>
        </ng-container>
      </span>
      <ion-item lines="full">
        <ion-label position="floating"><b>Item Category</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Category" type="text" formControlName="category"></ion-input>
        </div>
      </ion-item>
      <span>
        <ng-container *ngIf="addItem.get('category').hasError('required')&& (addItem.get('category').touched || addItem.get('category').dirty)">
          <h6>Field Cannot Be Empty.</h6>
        </ng-container>
      </span>
<ion-button [disabled]="!addItem.valid" (click)="presentAlert()">Add Item</ion-button>
    </div>
          
  </form>

</ion-content>

