<ion-header>
  <ion-toolbar>
    <ion-title>ADD NEW ITEM</ion-title>
    <ion-icon name="person-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<br>

<ion-content>
  <ion-card>
  <ion-card-content>
  <ion-item>
    <ion-label position="stacked"><b>Item Name</b></ion-label>
    <ion-input placeholder="Add item Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><b>Item Nummber</b></ion-label>
    <ion-input placeholder="Add item Number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><b>Item Quantity</b></ion-label>
    <ion-input placeholder="Add item Quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><b>Item Category</b></ion-label>
    <ion-input placeholder="Add item Category"></ion-input>
  </ion-item>
</ion-card-content>
</ion-card>

<ion-button shape="round">Add Item</ion-button>
</ion-content>
