
<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title>ADD NEW ITEM</ion-title>
    <ion-icon class="profile" name="person-circle-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="add-card">
    <ion-card-content >
      <ion-item>
        <ion-label position="stacked"><b>Item Name</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Name" lines="none"></ion-input>
        </div>  
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><b>Item Nummber</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Number"></ion-input>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><b>Item Quantity</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Quantity"></ion-input>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><b>Item Category</b></ion-label>
        <div class="input">
          <ion-input placeholder="  Add item Category"></ion-input>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

<ion-button shape="round" (click)="presentAlert()">Add Item</ion-button>


</ion-content>
