
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title align="center">EDIT ITEM</ion-title>
    <ion-icon class="profile" name="person-circle-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

    <ion-searchbar class="search" [(ngModel)]="term" animated color="primary" fill="outline"></ion-searchbar>

    <ion-list *ngIf="term">
      <div class="items" *ngFor="let item of list |filter:term">
        <ion-button (click)="editDetail()">{{item.name}}</ion-button>
      </div>
    </ion-list>
      <div *ngIf="!term">
        <p style="color: white; text-align:center">Results will be shown here.</p>
      </div>
    
  
</ion-content>
