
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title align="center">EDIT ITEM</ion-title>
    <ion-icon class="profile" name="person-circle-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <ion-content>
    <ion-searchbar class="search" [(ngModel)]="term" animated color="primary" fill="outline"></ion-searchbar>

    <ion-list *ngIf="term">
      <ion-item *ngFor="let item of list |filter:term">
        <ion-button>{{item.name}}</ion-button>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!term" class="no-result">
      <p style="text-align: center ; background-color:black; color:white;">Results will be shown here.</p>
    </ion-list>
  
  
  
  </ion-content>
</ion-content>
