
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title align="center">EDIT ITEM</ion-title>
    <ion-icon class="profile" name="person-circle-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <ion-content>
    <ion-searchbar class="search" animated color="primary" fill="outline"></ion-searchbar>
    <ion-card>
    <ion-card-content>
    <ion-item>
      <ion-label position="floating"><b>Edit item name</b></ion-label>
      <ion-input placeholder="  Edit item name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><b>Edit item number</b></ion-label>
      <ion-input placeholder="  Edit item number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><b>Edit item quantity</b></ion-label>
      <ion-input placeholder="  Edit item quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><b>Edit item category</b></ion-label>
      <ion-input placeholder="  Edit item category"></ion-input>
    </ion-item>
  </ion-card-content>
  </ion-card>
  
  <ion-row>
    <ion-col><ion-button shape="round">Save</ion-button></ion-col>
    <ion-col><ion-button shape="round" color="danger">Cancel</ion-button></ion-col>
  </ion-row>
  
  
  </ion-content>
</ion-content>
