ion-content{
    --background:#282d36;
}
ion-button{
    display: block;
    font-family: Century Gothic;
    font-size: 15px;
    width: 30%;
    margin: auto;
    border: 3px;
}

ion-toolbar{
    --background:#282d36;
    color: white;
    border: 0px;
}
.back-btn{
    width: 30px;
    height: 30px;
}
.profile{
    width: 45px;
    height: 45px;
}
ion-button{
    width: 80%;
}

ion-input{
    font-family: Century Gothic;
    font-size: 15px;
}

ion-list{
    --background:#282d36;
}
.items{
    background-color:#282d36;
}
