<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title>Category</ion-title>
    <ion-img class="profile" slot="end" src="assets/img/logo1.png"></ion-img>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <br>
    <br>
    <br>
      <ion-grid>
        <center>
          <ion-row>
            <ion-col col-12 col-sm>
              <div class="img-container">
                <ion-buttons (click)="wood()"><img src="assets/img/wood.png" alt="" class="center"></ion-buttons>
                <ion-label>Wood Products</ion-label>
              </div>
              
            </ion-col>
            <ion-col>
              <div class="img-container">
                <ion-buttons (click)="concrete()"><img src="assets/img/masonry.png" alt="" class="center"></ion-buttons>
              <ion-label>Concreting and Masonry</ion-label>
              </div>
              
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="img-container">
                <ion-buttons (click)="rebar()"><img src="assets/img/rebars.png" alt="" class="center"></ion-buttons>
                <ion-label>Rebars and GI Supplies</ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div class="img-container">
                <ion-buttons (click)="insulation()"><img src="assets/img/roofs.png" alt="" class="center"></ion-buttons>
                <ion-label>Roofing and Insulation</ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="img-container">
                <ion-buttons (click)="paint()"><img src="assets/img/paints.png" alt="" class="center"></ion-buttons>
              <ion-label>Painting Supplies</ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div class="img-container">
                <ion-buttons (click)="pipes()"><img src="assets/img/plumb.png" alt="" class="center"></ion-buttons>
              <ion-label>Plumbing Pipes & Accessories</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </center>
      </ion-grid>
  </div>

</ion-content>
