<style>
  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    max-width: 700px; 
  }

  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-modal ion-toolbar {
    --background: linear-gradient(35deg, rgb(0, 0, 0),rgba(254, 148, 0, 0.782));
    --color: white;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()"><ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img></ion-buttons> 
    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="banner">
    <p text-align="center">Concreting & Masonry
    </p>
  </ion-card>
  <ion-list *ngFor="let m of masonry">
    <ion-item button  id="{{m.id}}">{{m.name}}</ion-item>

  <ion-modal #modal trigger="{{m.id}}">
    <ng-template>
      <ion-content class="modal-body">
        <ion-toolbar>
          <ion-title align="left">{{m.name}}</ion-title>
          <ion-buttons slot="end" color="light" (click)="modal.dismiss()"><ion-img  class="close" src="assets/img/cancel.png"></ion-img></ion-buttons>
        </ion-toolbar>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Concreting & Masonry Products</ion-card-subtitle>
            <ion-card-title>{{m.name}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label id="label">Brand: </ion-label><ion-label>{{m.brand}}</ion-label><br>
            <ion-label id="label">Capacity: </ion-label><ion-label>{{m.cap}}</ion-label><br>
            <ion-label id="label">Type: </ion-label><ion-label>{{m.type}}</ion-label>
            <ion-label id="label">Quantity: </ion-label><ion-label>{{w.qty}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>

  </ion-modal>
</ion-list>
</ion-content>

