ion-content{
    --background: linear-gradient(-135deg, rgba(222, 148, 0, 0.704), rgb(0, 0, 0));
    --opacity:1;
}
ion-toolbar{
    --background:black;
    color: white;
    border: 0px;
}
ion-title{
    font-family: century gothic;
    font-size: 17px;
    font-weight: lighter;
}
.banner{
    background-color: gold;
}
.back-btn{
    width: 30px;
    height: 30px;
}
.profile{
    width: 45px;
    height: 45px;
}
.title-header{
    background-image: linear-gradient(35deg, rgb(0, 0, 0),rgba(254, 148, 0, 0.782));
    color: white;
    padding-top: 10%;
    padding-bottom: 5px;
    margin-top: -4%;
   
}
.title-header img{
    padding-top: 1px;
}
.title-header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}
.gear{
    width: 65%;
}
.dashboard{
    color: white;
    font-size: 20px;
    margin: 10%;
}
.grid{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 50px;
    color: white;
    font-size: 15px;
}
.grid img{
    background-color: white;
    width:80%;
    max-width: 120px;
    margin-top: 20px;
}
.buttons{
    display: block;
}
.icons{ 
    background-color: white;
    border-radius: 5%;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
p{
    font-family: century gothic;
    color: white;
    font-size: 20px;
}
ion-label{
    font-family: century gothic;
    font-size: 15px;
}