
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img class="back-btn" slot="start" src="assets/img/back.png"></ion-img>
    <ion-icon class="profile" name="person-circle-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-header">
      <img src="assets/img/gearup.png">
      <center>
        <p>DASHBOARD</p>

      </center>
    <!--<center>
      <ion-img class="gear" src="assets/img/gear-up.png"></ion-img>
      <p>I N V E N T O R Y</p>
    </center>-->
  </div>
  <div class="grid">
    <ion-grid>
      <center>
        <ion-row>
          <ion-col id="add">
            <ion-buttons class="buttons" (click)="add()"><img src="assets/img/add.png" alt=""></ion-buttons> 
            <p>Add Item</p>
          </ion-col>
          <ion-col id="view">
           <ion-buttons class="buttons" (click)="view()"> <img src="assets/img/search.png" alt=""></ion-buttons> 
            <p>View Item</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="edit">
            <ion-buttons class="buttons" (click)="edit()"><img src="assets/img/edit.png" alt=""></ion-buttons>
            <p>Edit Item</p>
          </ion-col>
          <ion-col id="delete">
            <ion-buttons class="buttons"><img src="assets/img/delete.png" alt=""></ion-buttons>
            <p>Delete Item</p>
          </ion-col>
        </ion-row>
      </center>
      
    </ion-grid>
  </div>
  

</ion-content>
