ion-content{
    --background: linear-gradient(-135deg, rgba(222, 148, 0, 0.704), rgb(0, 0, 0));
    --opacity:1;
}

ion-button{
    display: block;
    font-family: Century Gothic;
    font-size: 15px;
    width: 30%;
    margin: auto;
    border: 3px;
}

ion-toolbar{
    --background:#000000;
    color: white;
    border: 0px;
}
.back-btn{
    width: 30px;
    height: 30px;
}
.close{
    width: 27px;
    height: 27px;
}

.modal-body{
    --background: linear-gradient(35deg, rgb(0, 0, 0),rgba(254, 148, 0, 0.782));
   
}
h2{
    margin-left: 20px;
    font-size: 18px;
    font-weight: lighter;
    color: #ffffff;
}
.modal-buttons{
    width: 100px;
    margin: 0 auto;
}

ion-title{
    font-family: century gothic;
    font-size: 17px;
    font-weight: lighter;
}
.banner{
    --background: linear-gradient(35deg, rgb(0, 0, 0),rgba(254, 148, 0, 0.6));
}
